<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FIND ME</title>
    <link rel="stylesheet" href="../styles/panelStyle.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav-btn">
          <i></i>
          <i></i>
          <i></i>
        </label>
        <div class="logo">
          <a href="Panel.html">FIND ME</a>
        </div>
        <div class="nav-wrapper">
          <ul>            
            <li><a href="login.html">SALIR</a></li>
          </ul>
        </div>

        <form action="">
          <div class="botones">
            <h3>Somos una organización creada con el fin de ayudar a las personas a localizar lo que necesita encontrar con ayuda de un dispositivo electronico.</h3>           
          </div>
        </form>
      </nav>
    </div>
  </body>
</html>
