<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabla de precios | Find me</title>
    <link rel="stylesheet" href="../styles/PremiumStyles.css">
</head>
<body>
    <div class="contenedor">
        <div class="tabla">
            <h2>Básico</h2>
            <img src="../images/2.jpg" style="width: 150px; height: 110px;">
            <h3>100 <sup>$</sup></h3>
            <p>Plan de una semana </p>
            <a href="pago.html" class="boton">Paga ahora</a>
        </div>
        <div class="tabla hover">
            <h2>Estandar</h2>
            <img src="../images/OIP.jpg" style="width: 150px; height: 110px;">
            <h3>200 <sup>$</sup></h3>
            <p>Plan de una mes </p>
            <a href="pago.html" class="boton">Paga ahora</a>
        </div>
        <div class="tabla">
            <h2>Premium</h2>
            <img src="../images/buscador.jpg"  style="width: 150px; height: 110px;">
            <h3>300 <sup>$</sup></h3>
            <p>Plan por tres meses </p>
            <a href="pago.html" class="boton">Paga ahora</a>
        </div>        
    </div>
</body>
</html>